<footer class="site-footer">
  <div class="footer-top background-bg" data-image-src="images/bg-footer.jpg">
    <div class="overlay">
      <div class="section-padding">
        <div class="container">
          <div class="subscribe">
            <form action="#" class="mc4wp-form">
              <input type="text" name="name" id="name-2" value="" placeholder="Name" required="">
              <input type="email" name="email" id="email-2" value="" placeholder="Email" required="">
              <input type="submit" name="submit" id="submit-2" value="Subscribe">
            </form>
          </div>
          <!-- /.subscribe -->

          <div class="row">
            <div class="footer-widgets">
              <div class="col-md-3 col-sm-6">
                <div class="widget widget_about">
                  <div class="widget-details">
                    <img class="footer-logo" src="assets/templates/frontend/img/logo2.png" alt="Logo">
                    <p>
                      Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    </p>

                    <div class="footer-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                      <a href="#"><i class="fa fa-google-plus-square"></i></a>
                      <a href="#"><i class="fa fa-vimeo-square"></i></a>
                      <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                  </div>
                  <!-- /.widget-details -->
                </div>
                <!-- /.widget -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="widget widget_popular_posts">
                  <h3 class="widget-title">Popular Posts</h3>
                  <!-- /.widget-title -->

                  <div class="widget-details">
                    <article class="post type-post media">
                      <div class="entry-thumbnail media-left">
                        <!--<img src="../../i.vimeocdn.com/video/5362697266866.jpg?mw=1300&amp;mh=562" alt="Entry Thumbnail">-->
                      </div>
                      <!-- /.entry-thumbnail -->

                      <div class="entry-content media-body">
                        <h3 class="entry-title"><a href="blog-single.html">Beautiful Pink Balloons in a French Hotel</a></h3>
                        <!-- /.entry-title -->
                        <div class="entry-meta">
                          <span><a href="#"><i class="fa fa-comment-o"></i> <span class="count">46</span> Comments</a>
                          </span>
                        </div>
                        <!-- /.entry-meta -->
                      </div>
                      <!-- /.entry-content -->
                    </article>
                    <!-- /.post -->

                    <article class="post type-post media">
                      <div class="entry-thumbnail media-left">
                        <!--<img src="../../i.vimeocdn.com/video/53530735762e2.jpg?mw=960&amp;mh=540" alt="Entry Thumbnail">-->
                      </div>
                      <!-- /.entry-thumbnail -->

                      <div class="entry-content media-body">
                        <h3 class="entry-title"><a href="blog-single.html">Hypnotizing Displayed by Wooden in Estonia</a></h3>
                        <!-- /.entry-title -->
                        <div class="entry-meta">
                          <span><a href="#"><i class="fa fa-comment-o"></i> <span class="count">46</span> Comments</a>
                          </span>
                        </div>
                        <!-- /.entry-meta -->
                      </div>
                      <!-- /.entry-content -->
                    </article>
                    <!-- /.post -->

                    <article class="post type-post media">
                      <div class="entry-thumbnail media-left">
                        <!--<img src="../../i.vimeocdn.com/video/56970956562e2.jpg?mw=960&amp;mh=540" alt="Entry Thumbnail">-->
                      </div>
                      <!-- /.entry-thumbnail -->

                      <div class="entry-content media-body">
                        <h3 class="entry-title"><a href="blog-single.html">Gleaming House in Paris Stores Creativity</a></h3>
                        <!-- /.entry-title -->
                        <div class="entry-meta">
                          <span><a href="#"><i class="fa fa-comment-o"></i> <span class="count">46</span> Comments</a>
                          </span>
                        </div>
                        <!-- /.entry-meta -->
                      </div>
                      <!-- /.entry-content -->
                    </article>
                    <!-- /.post -->
                  </div>
                  <!-- /.widget-details -->
                </div>
                <!-- /.widget -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="widget widget_tags">
                  <h3 class="widget-title">Tag Clouds</h3>
                  <!-- /.widget-title -->

                  <div class="widget-details">
                    <a href="#" class="tag-link">News</a>
                    <a href="#" class="tag-link">Animation</a>
                    <a href="#" class="tag-link">Arts & Design</a>
                    <a href="#" class="tag-link">Camera & Techniques</a>
                    <a href="#" class="tag-link">Comedy</a>
                    <a href="#" class="tag-link">Documentary</a>
                    <a href="#" class="tag-link">Fashion</a>
                    <a href="#" class="tag-link">Food</a>
                    <a href="#" class="tag-link">Experiment</a>
                    <a href="#" class="tag-link">Instructionals</a>
                    <a href="#" class="tag-link">Music</a>
                    <a href="#" class="tag-link">Narrative</a>
                    <a href="#" class="tag-link">Sports</a>
                    <a href="#" class="tag-link">Travel</a>
                  </div>
                  <!-- /.widget-details -->
                </div>
                <!-- /.widget -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="widget widget_twitter_feed">
                  <h3 class="widget-title">Twitter Feed</h3>
                  <!-- /.widget-title -->

                  <div class="widget-details">
                    <div class="tweet-slider owl-carousel owl-theme">
                      <div class="item">
                        <div class="tweet">
                          <span class="title">Shopaholic - Responsive Multipurpose eCommerce WP Theme</span>
                          <!-- /.title -->
                          <a class="tag" href="#">https://t.co/NMDURh1uK2</a>
                          <span class="time"><i class="fa fa-clock-o"></i> <time datetime="PT1H"> 1 hours ago</time></span>
                        </div>
                        <!-- /.tweet -->

                        <div class="tweet">
                          <span class="title">Metrolife - HTML5 Responsive Multipurpose Template</span>
                          <!-- /.title -->
                          <a class="tag" href="#">https://t.co/NMDURh1uK2</a>
                          <span class="time"><i class="fa fa-clock-o"></i> <time datetime="PT2H"> 2 hours ago</time></span>
                        </div>
                        <!-- /.tweet -->
                      </div>
                      <!-- /.item -->

                      <div class="item">
                        <div class="tweet">
                          <span class="title">Voix - HTML5 Blogging Template</span>
                          <!-- /.title -->
                          <a class="tag" href="#">https://t.co/NMDURh1uK2</a>
                          <span class="time"><i class="fa fa-clock-o"></i> <time datetime="PT3H"> 3 hours ago</time></span>
                        </div>
                        <!-- /.tweet -->

                        <div class="tweet">
                          <span class="title">Cast - HTML5 Construction Template</span>
                          <!-- /.title -->
                          <a class="tag" href="#">https://t.co/NMDURh1uK2</a>
                          <span class="time"><i class="fa fa-clock-o"></i> <time datetime="PT4H"> 4 hours ago</time></span>
                        </div>
                        <!-- /.tweet -->
                      </div>
                      <!-- /.item -->
                    </div>
                    <!-- /.tweet-slider -->
                  </div>
                  <!-- /.widget-details -->
                </div>
                <!-- /.widget -->
              </div>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.section-padding -->
    </div>
    <!-- /.overlay -->
  </div>
  <!-- /.footer-top -->

  <div class="footer-bottom">
    <div class="padding">
      <div class="container">
        <div class="copyright text-center">
          © <a href="demos.jeweltheme.com/videostories.html">VIDEOSTORIES</a> 2017 | Develpoed With Love by <a href="https://jeweltheme.com/">Jewel Theme</a>          Designed by <a href="#">bigpsfan</a>
        </div>
        <!-- /.copyright -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.padding -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->
