<form [formGroup]="objForm" role="form" (ngSubmit)="formAction()" class="form-horizontal tasi-form">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Thông tin chung
                    <span class="tools pull-right">
                    <a class="fa fa-chevron-down"></a>
                </span>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="shopName" class="control-label col-md-3">Tên bài viết (*)</label>
                        <div class="col-md-3 col-xs-11">
                            <input 
                                formControlName="title" 
                                [(ngModel)]="objData.title" 
                                id="postTitle" 
                                class="form-control form-control-inline input-medium" 
                                size="16" type="text" />

                            <p class="error-message" 
                                *ngIf="objForm.controls.title.errors?.required && submited">
                                Vui lòng nhập tên bài viết
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Thông tin bài viết
                    <span class="tools pull-right">
                    <a class="fa fa-chevron-down"></a>
                </span>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="shopName" class="control-label col-md-3">Hình ảnh (*)</label>
                        <div class="col-md-9 col-xs-11">

                            <p class="error-message" 
                                *ngIf="objForm.controls.image.errors?.required && submited">
                                Vui lòng upload hình ảnh cho bài viết
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shopName" class="control-label col-md-3">Nội dung (*)</label>
                        <div class="col-md-9 col-xs-11">
                            <textarea 
                                formControlName="content" 
                                [(ngModel)]="objData.content" 
                                id="postContent" >
                            </textarea>

                            <p class="error-message" 
                                *ngIf="objForm.controls.content.errors?.required && submited">
                                Vui lòng nhập nội dung bài viết
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Thông tin khác
                    <span class="tools pull-right">
                    <a class="fa fa-chevron-down"></a>
                </span>
                </header>
                <div class="panel-body">
                   
                    <div class="form-group">
                        <label for="status" class="control-label col-md-3">Trạng thái: </label>
                        <div class="col-md-3 col-xs-11">
                            <select id="status" formControlName="status" [(ngModel)]="objData.status" class="form-control">
                                <option value="1">Hoạt động</option>
                                <option value="2">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button routerLink="/admin/post" class="btn btn-danger btn-custom pull-left" type="button">
                <i class="fa fa-arrow-left"></i> Back
            </button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-default btn-custom pull-right" type="submit">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
    <file-modal #fileModal></file-modal>
</form>