<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="top-sitemap text-left">
            <span>Welcome Back!</span>
            <span> <a href="signin.html"><i class="fa fa-lock"></i> Sign In</a></span>
            <span><a href="register.html"><i class="fa fa-user"></i> Register</a></span>
          </div>
          <!-- /.top-sitemap -->
        </div>

        <div class="col-sm-6">
          <div class="top-sitemap text-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-vimeo-square"></i></a>
            <a href="#"><i class="fa fa-google-plus-square"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
          <!-- /.top-sitemap -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-top -->

  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="navbar-brand hidden-xs">
            <a href="index.html"><img src="assets/templates/frontend/img/logo.png" alt="Site Logo" class="site-logo"></a>
          </div>
        </div>
        <div class="col-sm-9">
          <a href="#" class="banner-ad"><img src="assets/templates/frontend/img/top-ad.jpg" alt="Ad Image"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.header-middle -->

  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <nav class="navbar navbar-default">
            <div class="navbar-header visible-xs">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                  <i class="fa fa-bars"></i>
                </button>
              <a class="navbar-brand" href="index.html"><img src="assets/templates/frontend/img/logo.png" alt="Logo"></a>
            </div>

            <div id="menu" class="main-menu collapse navbar-collapse pull-left">

              <ul class="nav navbar-nav">

                <li class="menu-item menu-item-has-children active">
                  <a href="#">Home</a>
                  <ul class="sub-menu children">
                    <li><a href="index-01.html">Home page 01</a></li>
                    <li><a href="index-02.html">Home page 02</a></li>
                    <li><a href="index-03.html">Home page 03</a></li>
                    <li><a href="index-04.html">Home page 04</a></li>
                    <li><a href="index-05.html">Home page 05</a></li>
                    <li><a href="index-06.html">Home page 06</a></li>
                    <li><a href="index-07.html">Home page 07</a></li>
                    <li><a href="movie.html">Home Movie</a></li>
                    <li><a href="movie.html">Home Movie</a></li>
                  </ul>
                </li>

                <li class="menu-item menu-item-has-children">
                  <a href="#">Categories</a>
                  <ul class="sub-menu children">
                    <li><a href="category-01.html">Category Version 01</a></li>
                    <li><a href="category-02.html">Category version 02</a></li>
                    <li><a href="tag.html">Tag Page</a></li>
                    <li><a href="english.html">Category Movie</a></li>
                  </ul>
                </li>

                <li class="menu-item menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="sub-menu children">
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="signin.html">Sign In</a></li>
                  </ul>
                </li>

                <li class="menu-item menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu children">
                    <li><a href="blog.html">Blog Page</a></li>
                    <li><a href="single-post.html">Single Post</a></li>
                    <li><a href="movie-single.html">Movie Single</a></li>
                    <li class="menu-item menu-item-has-children">
                      <a href="#">Single Video</a>
                      <ul class="sub-menu children">
                        <li><a href="video-01.html">Video version 01</a></li>
                        <li><a href="video-02.html">Video version 02</a></li>
                        <li><a href="video-03.html">Video version 03</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="menu-item menu-item-has-children">
                  <a href="#">My account</a>
                  <ul class="sub-menu children">
                    <li><a href="author.html">Profile</a></li>
                    <li><a href="about.html">Profile Details</a></li>
                    <li><a href="videos.html">Profile Videos</a></li>
                    <li><a href="playlist.html">Profile Playlist</a></li>
                    <li><a href="upload.html">Submit Video</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
          <!-- /.navbar -->
        </div>
        <div class="col-sm-5">
          <form class="search-form" method="get" action="#">
            <input name="s" type="text" class="search-input" size="20" maxlength="20" placeholder="Search Here ...." required="">
            <input type="submit" name="submit" class="search-submit">
          </form>
          <!-- /.search-form -->
        </div>

      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-bottom -->
</header>
<!-- /.header -->
