<section id="container">
    <!--header start-->
    <admin-header></admin-header>
    <!--header end-->
    <!--sidebar start-->
    <admin-sidebar></admin-sidebar>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <router-outlet></router-outlet>
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <admin-footer class="site-footer"></admin-footer>
    <!--footer end-->
</section>