<div class="row">
  <div class="col-md-3">
    <h3>Select files</h3>

    <div 
      ng2FileDrop 
      [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" 
      (fileOver)="fileOverBase($event)" 
      [uploader]="uploader"
      class="well my-drop-zone">
      Drop Zone
    </div>

    Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" />

    <div class="progress">
      <div 
        class="progress-bar" 
        role="progressbar" 
        [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>

    <button 
      type="button" 
      class="btn btn-success btn-xs" 
      (click)="uploader.uploadAll()" 
      [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>

  </div>

  <div class="col-md-9 file-container">
    <div 
      [ngClass]="{'image-clicked': arrClicked[i].clicked}" 
      (click)="onClickImage(i, $event)" 
      *ngFor="let itemInDir of itemsInDir; let i=index" class="file-item">
        <div class="file-item-content">
          <i *ngIf="itemInDir.type === 'folder'" class="fa fa-folder-o file-icon"></i>
          <img *ngIf="itemInDir.type === 'file'" [src]="serverUrl + '/' + itemInDir.url" />
          <p>{{itemInDir.name}}</p>
        </div>
        
    </div>

  </div>

</div>
