 .my-drop-zone {
   border: dotted 3px lightgray;
 }

 .nv-file-over {
   border: dotted 3px red;
 }

 .file-container {
   max-height: 420px;
   overflow-y: scroll;
 }

 .file-item {
   float: left;
   position: relative;
   width: 18%;
   margin: 1%;
   padding-bottom: 15%;
   overflow: hidden;
   cursor: pointer;
 }

 .image-clicked {
   border: 1px dotted;
 }

 .file-item-content {
   position: absolute;
   text-align: center;
   width: 100%;
 }

  .file-item-content img {
   width: 80%;
 }

 .file-icon {
   font-size: 4vw;
 }
