<div class="box_mid">
    <div class="mid-title">
        <div class="titleL">
            <h1>CÔNG TY CỔ PHẦN FASTRANS</h1>
        </div>
        <div class="titleR"></div>
        <div class="clear"></div>
    </div>
    <div class="mid-content">
        <div id="boxContact" class="infoContact">
            <div class="info_dealer">
                <div class="info_dealer_right fl">
                    <div class="qrcode">
                        <div class="boder"> <img src='http://chart.apis.google.com/chart?chf=a,s,000000|bg,s,FFFFFF&amp;chs=150x150&amp;chld=M|1&amp;cht=qr&amp;chl=BEGIN%3AVCARD%0AVERSION%3A2.1%0AN%3A%0AORG%3AC%C3%94NG+TY+C%E1%BB%94+PH%E1%BA%A6N+FASTRANS%0ATITLE%3A%0ATEL%3BWORK%3BVOICE%3A1900+636+085%0ATEL%3BHOME%3BVOICE%3A%0AEMAIL%3BPREF%3BINTERNET%3Ahotro%40alogiaongay.com%0AURL%3Awww.alogiaongay.com%0ANOTE%3A524%2F24+Nguy%E1%BB%85n+%C4%90%C3%ACnh+Chi%E1%BB%83u%2C+ph%C6%B0%E1%BB%9Dng+4%2C+qu%E1%BA%ADn+3%2C+TP.HCM%0AEND%3AVCARD&amp;choe=UTF-8'
                            /> </div>
                    </div>
                </div>
                <div class="info_dealer_left fl">
                    <div itemscope itemtype="http://schema.org/Organization">
                        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">524/24 Nguyễn Đình Chiểu, phường 4, quận 3, TP.HCM
                            <meta itemprop="streetAddress" content="524/24 Nguyễn Đình Chiểu, phường 4" />
                            <meta itemprop="addressLocality" content="quận 3" />
                            <meta itemprop="addressRegion" content="TP.HCM" />
                            <meta itemprop="addressCountry" content="Việt Nam" />
                        </div>
                        <div class="phone" itemprop="telephone">1900 636 085</div>
                        <div class="email" itemprop="email">hotro@alogiaongay.com</div>
                        <div class="website" itemprop="url">www.alogiaongay.com</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="boxForm">
            <form id="formContact" name="formContact" method="post" action="http://alogiaongay.com/lien-he.html" class="form validate">
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Họ tên : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_name">
                                        <input type="text" name="name" id="name" value="" class="textfiled required" style="width:100%;"
                                            title="Vui lòng nhập họ tên liên lạc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Email : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_email"><input type="text" name="email" id="email" value="" class="textfiled" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Địa chỉ : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_address">
                                        <input type="text" name="address" id="address" value="" class="textfiled required" title="Vui lòng nhập địa chỉ" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Điện thoại : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_phone">
                                        <input type="text" name="phone" id="phone" value="" class="textfiled required" title="Vui lòng nhập điện thoại liên lạc"
                                            style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Liên hệ tới phòng : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg"><select name="staff" id="staff" class='select' style='width:100%'><option value="hotro@alogiaongay.com">Chăm sóc khách hàng</option><option value="tuyendung@alogiaongay.com">Phòng nhân sự</option><option value="hongchi@dichvuweb.com">Phòng kỹ thuật</option></select></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Tiêu đề : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="input_l">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_subject">
                                        <input type="text" name="subject" id="subject" value="" class="textfiled required" title="Vui lòng nhập tiêu đề liên lạc"
                                            style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Nội dung liên lạc : <span class="font_err">(*)</span></div>
                    <div class="item-input fl">
                        <div class="textarea_l">
                            <div class="textarea_r">
                                <div class="textarea_bg">
                                    <textarea name="content" id="content" class="textarea required" title="Vui lòng nhập nội dung liên lạc" rows="3" style="width:100%;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper clearfix">
                    <div class="item-label fl">Mã bảo vệ : <span class="font_err">(*)</span></div>
                    <div class="item-input fl" style="background:none; border:none">
                        <div class="item-input fl" style="width:120px; margin-right:10px; ">
                            <div class="input_r">
                                <div class="input_bg ">
                                    <div class="icon icon_scode"><input class="textfiled required icon_code" name="security_code" id="security_code" type="text"
                                            maxlength="6" value="" size="10" title="" /></div>
                                </div>
                            </div>
                        </div>&nbsp;
                        <div class="fl"><img src="http://alogiaongay.com/includes/sec_image.php?code=jOTQyMg0" align="absmiddle" /></div>
                    </div>
                </div>
                <div class="input-wrapper clearfix" style="padding-top:10px;">
                    <div class="item-label fl">&nbsp;</div>
                    <div class="item-input fl" style="background:none; border:none">
                        <button id="do_submit" name="do_submit" type="submit" class="button" value="Gửi"><span >Gửi</span></button>&nbsp;
                        <button id="btnReset" name="btnReset" type="reset" class="button" value="Làm lại"><span >Làm lại</span></button>
                    </div>
                </div>
            </form>
        </div>
        <td valign="top" width="450" style="padding-left:10px;">
            <ul class="list_maps">
                <li class='active' id='maps1'><a href='javascript:;' onclick="load_maps(1,450,450);"><span>CÔNG TY TNHH DV GIAO HÀNG TIỆN LỢI</span></a></li>
            </ul>
            <div class="clear"></div>
            <div id="ext_maps">
                <script language=javascript>
                    load_maps(1, 450, 450);
                </script>
            </div>
        </td>
    </div>
</div>
<div class="clear"></div>