<section class="top-videos">
  <div class="section-padding">
    <div class="container">
      <div class="recent-movie-slider owl-carousel owl-theme">
        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r1.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">The Boss Baby</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r2.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">xXx Return of Xander Cage</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r3.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">Ghost In The Shell</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r4.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">The Space Between Us</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r5.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">The Fate Of The Furious</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r6.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">Beauty And Beast</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>

        <div class="item">
          <article class="post type-post">
            <div class="entry-thumbnail">
              <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/r7.jpg" alt="Movie Thumbnail"></a>
              <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
            </div>
            <!-- /.entry-thumbnail -->
            <div class="entry-content">
              <h3 class="entry-title"><a href="movie-single.html">Smurfs: The Lost Village</a></h3>
              <!-- /.entry-title -->
            </div>
            <!-- /.entry-content -->
          </article>
          <!-- /.post -->
        </div>
      </div>
      <!-- /.-recent-movie-slider -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /.section-padding -->
</section>
<!-- /.top-videos -->




<section class="video-contents">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="movie-contents-area">
          <div class="col-sm-6">
            <div class="left-panel">
              <h2 class="section-title">English Movies</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">
                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Fifty Shades Darker</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Gurdians Of The Galaxy 2</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Ghost In The Shell</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Gifted</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Space Between Us</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/e6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">xXx: Return Of Xander Cage</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- left-panel -->
          </div>

          <div class="col-sm-6">
            <div class="right-panel">
              <h2 class="section-title">Hindi Movies</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">
                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Raees</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Jolly LLB 2</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Force 2</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Shivaay</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Kahaani 2</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/h6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Ok Jannu</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- /.right-panel -->
          </div>

          <div class="col-sm-6">
            <div class="left-panel">
              <h2 class="section-title">Biography Movies</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">
                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Jackie</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Founder</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">A Street Cat Named Bob</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">The Legend Of BEN HALL</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Loving</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/b6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Queen Of KATWE</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- /.left-panel -->
          </div>

          <div class="col-sm-6">
            <div class="right-panel">
              <h2 class="section-title">Tv Documentaries</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">APEX: The Story of the Hypercar</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">For the Love of Spock</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">The Ivory Game</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Banking on Bitcoin</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">The Student Body</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/t6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Notes On Blindness</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- /.right-panel -->
          </div>

          <div class="col-sm-6">
            <div class="left-panel">
              <h2 class="section-title">Upcomming Trailers</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">
                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Despicable Me 3</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">The Dark Tower</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Supergirl</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Wonder Woman</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Dunkirk</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/u6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Kingsman: The Golden Circle</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- /.left-panel -->
          </div>

          <div class="col-sm-6">
            <div class="right-panel">
              <h2 class="section-title">TV Shows</h2>
              <!-- /.section-title -->
              <a href="english.html" class="btn view-all">View all</a>
              <div class="movie-contents">
                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s1.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Arrow</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s2.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Blindspot</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s3.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">The 100</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s4.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Fargo</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s5.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Designated Survivor</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>

                <div class="col-sm-4 col-xs-6">
                  <article class="post type-post">
                    <div class="entry-thumbnail">
                      <a href="movie-single.html"><img src="assets/templates/frontend/img/movie/s6.jpg" alt="Movie Thumbnail"></a>
                      <span class="rating"><i class="fa fa-star"></i><span class="count">7.8</span></span>
                    </div>
                    <!-- /.entry-thumbnail -->
                    <div class="entry-content">
                      <h3 class="entry-title"><a href="movie-single.html">Criminal Minds</a></h3>
                      <!-- /.entry-title -->
                    </div>
                    <!-- /.entry-content -->
                  </article>
                  <!-- /.post -->
                </div>
              </div>
              <!-- /.movie-contents -->
            </div>
            <!-- /.right-panel -->
          </div>
        </div>
        <!-- /.movie-contents-area -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.section-padding -->
</section>
<!-- /.video-content -->
